JPTest.xcodeproj/project.xcworkspace/xcuserdata/s.xcuserdatad/UserInterfaceState.xcuserstate
JPTest.xcodeproj/xcuserdata/s.xcuserdatad/xcschemes/xcschememanagement.plist
JPTest.xcodeproj/xcuserdata/sat.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
JPTest.xcodeproj/xcuserdata/sat.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store
*.swp
_*
